<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<!-- <img src="logo.png"> -->
<div id="proj-head">Environmental Transportation Optimization</div>
<div class="menu-bar">
    <ul>
        <li>
            <a href="/frontPage">User</a>
            <ul>
                <li>
                    <a href="/insertUser">Insert User</a>
                </li>
                <li>
                    <a href="/getAllUser">Get All User</a>
                </li>
                <li>
                    <a href="/deleteUser">Delete User</a>
                </li>
                <li>
                    <a href="/updateUser">Update User</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/frontPage">Admit</a>
            <ul>
                <li>
                    <a href="/insertAdmin">Insert Admin</a>
                </li>
                <li>
                    <a href="/getAllAdmin">Get All Admin</a>
                </li>
                <li>
                    <a href="/deleteAdmin">Delete Admin</a>
                </li>
                <li>
                    <a href="/updateAdmin">Update Admin</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/frontPage">Vehicle</a>
            <ul>
                <li>
                    <a href="/insertVehicle">Insert Vehicle</a>
                </li>
                <li>
                    <a href="/getAllVehicle">Get All Vehicle</a>
                </li>
                <li>
                    <a href="/deleteVehicle">Delete Vehicle</a>
                </li>
                <li>
                    <a href="/updateVehicle">Update Vehicle</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/frontPage">Warehouse</a>
            <ul>
                <li>
                    <a href="/insertWarehouse">Insert Warehouse</a>
                </li>
                <li>
                    <a href="/getAllWarehouse">Get All Warehouse</a>
                </li>
                <li>
                    <a href="/deleteWarehouse">Delete Warehouse</a>
                </li>
                <li>
                    <a href="/updateWarehouse">Update Warehouse</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/getAllPath">Show All Path</a>
        </li>
    </ul>

</div>

<div class="container" >
    <h1>Insert User</h1> <br>
    <form action="/insertUser" method="POST">
        <div class="form-group">
            <label >Name:</label>
            <input type="text" class="form-control" name="name">
        </div>
<!--        <div class="form-group">-->
<!--            <label >Last Name:</label>-->
<!--            <input type="text" class="form-control" name="lastName">-->
<!--        </div>-->
        <div class="form-group">
            <label >Birthday:</label>
            <input type="date" class="form-control" name="birthDay">
        </div>
        <div class="form-group">
            <label for="state">State:</label>
            <select class="form-control" id="state" name = "state">
                <option>VIC</option>
                <option>USW</option>
                <option>NT</option>
                <option>QLD</option>
                <option>SA</option>
                <option>TAS</option>
                <option>WA</option>
            </select>
        </div>
        <div class="form-group">
            <label >Suburb:</label>
            <input type="text" class="form-control" name="suburb">
        </div>
        <div class="form-group">
            <label >Street:</label>
            <input type="text" class="form-control" name="street">
        </div>
        <div class="form-group">
            <label >Unit:</label>
            <input type="text" class="form-control" name="unit">
        </div>
        <div class="form-group">
            <label >Phone:</label>
            <input type="text" class="form-control" name="phone">
        </div>
        <div class="form-group">
            <label >Work Time:</label>
            <input type="text" class="form-control" name="workTime">
        </div>
        <div class="form-group">
            <label >Password:</label>
            <input type="text" class="form-control" name="password">
        </div>
        <button class="button">Submit</button>
    </form>
</div>
</body>
</html>