<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <link rel="stylesheet" href="styles.css">
    <link ref="stylesheet" href="./css/styles.css">
</head>

<body>

<div id="proj-head">Environmental Transportation Optimization</div>
<div class="container">
<div id="login">
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="text" required="required" placeholder="Name" name="admitname"/>
        <input type="password" required="required" placeholder="Password" name="password"/>
        <button class="but" type="submit">LOG IN</button>
    </form>
</div>
</div>
</body>
</html>